*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

/* Common style for this projec */
.container{
    max-width: 1200px;
    margin: auto;
}


/* Navbar style */
header{
    padding: 20px 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 98px;
    height: 35px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #575757;
}

nav button{
    padding: 10px 18px;
    background-color: #1D4ED8;
    color: white;
    border: none;
    border-radius: 5px;
}